<!DOCTYPE html>
<html>
    <head>
        <title>"Trello Manager - Pull Requests"</title>
    </head>
    <body>
        {% if boards %}
            <h2>There are pull requests awaiting review:</h2>

            {% for board in boards %}
                <h3>{{board.board_name}} (Board)</h3>
                {% for card in board.cards %}
                <h4><a href={{card.card_url}}>{{card.card_name}} (Card)</a></h4>
                    {% for pull_request in card.pull_requests %}
                    <li><a href={{pull_request.url}}>{{pull_request.title}} (Pull Request)</a></li>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% else %}
            There are no unmerged pull requests waiting for review
        {% endif %}
    </body>
</html>
